*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}

input{
    border:  #d5d5d5;
}
.instruemntia-header__main{
    display: flex;
}

.instruemntiareverb-header__inner{
    height: 38px;
}
.instrumentia-logo-container a{
     width: 115px !important;
    height: 34px !important;
   position: relative;
   display: block;
    
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #212121;
    font-family: Lato,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1.6em;
    line-height: 1.4;
}

html{
    font-size: 62.5%;
}

/* navvbar css */
.nav-bar-li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 4px;
    
}
a{
    text-decoration: none;
}


.image-box img{
    height: 209px;
    width: 209px !important;
    margin-top: 22px;
    padding-top: 22px;
}


header nav ul li{
    display:inline-block;
}
/* li{
    display: inline-blockS;
} */


header{
    margin-top: 20px;
    /* padding-bottom: 10px; */
    position: relative;
    width: 100%;
}

.instrumentia-header nav{
    width: 1425px;
    height: 54px;
    align-items: center;
    display: flex;
    margin-left: 270px;
    position: relative;
    margin-top: 10px;
    margin-top: -35px;
    margin-bottom: 20px;
    
}

.instruemntia-header__main{
    padding: 0.9rem 0;
}
/* li{
    background-color: antiquewhite;
} */



.instrumentia-logo-container{
    width: 115px;
    height: 34px;
}



nav .search-logo svg{
    height: 33px;
    width: 23px;
    margin-left: 4px;

}
nav .search-logo{
    margin-top: 0px;
    margin-left: 0px;
    justify-content: left;
    border:.1px solid #d5d5d5;
    /* border: 1px solid black; */
    
}


.selling-btn{
    border: 2px solid #ca6b05; 
    border-radius: 4px;
    color: #ce6d06;
    margin-left: 5px;
    height: 36px;
    width: 138px;
    padding: 5px 17px;
   margin-top: 27px;
    position: absolute;

}
.sell-btn-container{
    width: 115px;
    height: 54px;
    margin-left: 26px;
    margin-bottom: 0px;
    
    position: relative;
}
.selling-btn:hover{
    color: #eb8314; 
    
}

.sign-up-btn a
{
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
    font-size: 16px ;
}
 .sign-in-btn a{
    margin-left: -10px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 0px;
    font-size: 16px;
}
.sign-up-btn a:hover{
    
    color: #dd7608;
   
    
}
.sign-in-btn a:hover{
    color: #dd7608;
   
}

nav .instrumentia-nav-ul{
    position: relative;
}

#search-li{
    position: relative;
    margin-top: 10px;
}
#search-li .search-logo{
    margin-left: 732px;
    height: 38px;
    width: 36px;
    margin-top: -26px;
    position: absolute;
    border-radius: 2px;
}
    
#sell-btn-li
{
    margin-left: 760px;
    
}




.instrumentia-Logo img{
    height: fit-content;
    width: 11.5rem;
}

.instrumentia-header-links li{
    margin-top: 0px;
    display: inline-block;
    font-size: 1.3rem;
    padding: 7px;
}

.instrumentia-header-links li:first-child{
    margin-left: 295px;
}




nav li .cart-container img{
    height: 43px;
    width: 24px;
    margin-top: 10px;
    padding-top: 22px;
    margin-left: 5px;
}

nav li .my-feed-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
    margin-left: 5px;
}
nav li .wish-list-container img{
    height: 45px;
    width: 25px;
    margin-top: 10px;
    padding-top: 22px;
    margin-left: 10px;
  
}
nav li .wish-list-container  .instrumentia-header-logo span{
    text-align: justify;
    padding: 0px 0px;
}

nav li .wish-list-container a:hover{
   color: #dd7608;
}

#wish-list{
   margin-left: 36px; 
   position: absolute;
   margin-top: -10px;

}

#feed-list{
    margin-left: 110px; 
    position: absolute;
    margin-top: -8px;
    
    
 }

#cart-list{
    margin-left: 153px;
    position: absolute;
    margin-top: -7px;
    font-size: 13px;
}

#sign-up-list{
    margin-left: 198px; 
    position: absolute;
    margin-top: 36px;
}

#sign-in-list{
    margin-left: 258px; 
    position: absolute;
    margin-top: 36px;
}

.search-input{

   width: 100%;
  
 
    
}

nav .search-input .site-search__controls__input{
    height: 38px;
    width: 723px;
    border: 0.1px solid #d5d5d5;
    border-radius: 2px;
    margin-left: 9px;
    justify-content: center;
    position: absolute;
    margin-top: -26px;
    padding: 10px;
}

#icon{
   display: list-item;
   width: 60px;
}
#icon:hover{
    color: #dd7608;
    
}
.instrumentia-list{
    margin: 2px 0px;
}

.absolute-div{
    border:.5px solid #d5d5d5;
    position: absolute;
    border-top: white;
    border-bottom: white;
    width: 1171px;
    height: 38px;
    margin-top: -3px;
}

.instrumentia-list li:nth-child(8){
    margin-left: 138px;
}
.instrumentia-header-links li a:hover{
    color:#dd7608;
}

.instrumentia-header-links li a{
    font-size: 1.3rem;
    color: #414141;
    position: relative;
    margin-bottom: 2px;
}


header nav .menu-span{
    font-size: 20px;
    font-weight: bold;
    float: right;
    background-color: #e4e0db;
    display: none;
    
}

header nav .menu-span:hover{
    /* visibility: visible; */
    display: block;
  
}

@media screen and (max-width: 960px) {
    header nav .instrumentia-logo-container img {
        left: 8%;
    }
    
  }


/* end navbar css */

.body-wrapper .sell_header_content {
    color: #414141;
    text-align: left;
    width: 50%;
}
 .body-wrapper  .sell__header__subtitle{
    font-size: .9em;
    font-weight: 700;
    margin: 0 auto;
 }

 #size-p{
     width: 812px;
     height: 17px;
 }
 .body-wrapper .sell__header__title {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0.4em 0;
    width: 812px;
    height: 67px;
    
  
}

.button.button--orange {
    fill: #fff;
    background:#f6af60;
    border-color: #f6af60;
    color: #fff;
}




.sell__form {
    margin: 1rem 0;
    position: relative;
    display: flex;
}




.sell__form__input__search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-radius: 0.4rem 0 0 0.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: relative;
    /* width: 300%; */
    
}

.input-group__input, .sell__form__input, .input-group{
    
    width: 762px;
    height: 53px;
    display: flex;
    
    
}
.sell__form__container{
    width: 812px;
    height: 53px;
}
/* input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;   
}    */





.size-120 {
    margin-left: 0%;
    font-size: 136%;
    
    
}


.input-group__button, .input-group__input{
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem; 
    /* margin: 0 -0.1rem 0 0; */
    border:.5px solid #d5d5d5;
    padding: 13px;

    
  
}



main{
    margin-top: -23px;
}

/* .sell__header .bg-img-container img{
    height: 70vh;
    width: 1087px;
    margin-top: -2%;
    margin-left: 0%;
    
} */

.sell__header {
    margin-top: 25px;
    background-image: url(/assets/images/Mobile1cropped1.jpeg);
    background-size: cover;
    height: 442px;
    width: 1903px;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.sell_header_container{
    margin-left: 290px;
    margin-top: 92px;
    width: 812px;
    height: 262px;
    position: absolute;
    
}


.size-100 a{
    color: black;
}

.size-100 a:hover{
    color: #ca6b05;
}

.size-180{
    font-size: 180%;
    color: #f6af61;
}

.pb-4, .scaling-pb-4 {
    padding-bottom: 4rem;
}

.align-center {
    text-align: center;
}

.color-gray img{
    margin-top: -5px;  
    margin-left: 48PX;
}

.arrow-img img{
    width: 11px;
    height: 12px;
    margin-top: 6px;
    margin-left: 76px;
    position: absolute;
    display: inline;
}

.color-gray span{
    position: absolute;
    margin-top: 11px;
    width: 101px;
    height: 28px;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 2px 0px;
    text-align: left;
    text-transform: capitalize;
    border-radius: 5px;
    
}

.arrow-img{
    background-color: #ffebd4;
    border: 1px solid #ffebd4;
    border-radius: 3px;
    
    
}

.gfi-span{
    color: #414141;
    margin-top: 14px !important;
    margin-left: 8px;
    z-index: 1;
}

.gfi-span:hover{
    color: #f6870f;
    box-shadow: #414141;
}

.size-101, #size-p, #size-h1{
    color: #212121;
}
.size-101{
    font-size: 80%;
    font-weight: 700;
    letter-spacing: .02em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    margin-top: 22px;
}
.sell__form__input .search-iconn{
    margin-top: 1px;
    height: 20px;
    width: 25px;
}
.sell__form__container #btn-srch{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 55px;
    border:1px solid #d5d5d5;
    border-radius: 3px;
    position: absolute;
    margin-left:761px;
    margin-top: -1px;
}

.sell__form__container #btn-srch:hover{
    background: #e4e2e0;
}

.mosaic-tile__subtitle {
    font-size: 1.9em;
    
    line-height: 1.1;
    margin-bottom: 1.25rem;
    margin-top: 2.25rem;
    
}

.mosaic-tiles {
    
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.mosaic-tiles__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
}
li, ol, ul {
    list-style: none;
}

.mosaic-tile+.mosaic-tile {
    margin-left: 1.8rem;
}
.mosaic-tile {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mosaic-tile__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: none;
    color: #414141;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    
    transition: opacity .2s ease-in-out;
}

.mosaic-tile__image1{
    background-image: url(/assets/images/horizontal-tile-d73b383d2c70966c3e5bd780c1db2c0f274a70d22a27e8e3a45c029c870bdeb9.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.mosaic-tile__image2{
    background-image: url(/assets/images/snmnrbco9nx75mtsfgek.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mosaic-tile__image3{
    background-image: url(/assets/images/vwti9vmchjnconyehks3.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.mosaic-tile__image1 {
    margin-left: 15px;
}

.mosaic-tile__image1 , .mosaic-tile__image2 , .mosaic-tile__image3{
    width: 333px;
    height:200px;
}

.homepage-value-props{
background-image: url(/assets/images/section-texture-5f954532d5847542326f.jpg);
height: 170px
}

.homepage-value-props__inner{
    display: flex;
    align-items: center;
    
    margin: auto;
    margin-top: 10px;
    
}

.homepage-value-props__inner h3{
    align-content: center;
    /* margin-left: 10px; */
}

.homepage-value-props__inner h3{
    margin-left: 40px !important;
    margin-top: 60px;
}

.homepage-value-props__inner p{
    text-align: center !important;
    margin-top: 10px !important;
    padding: 10px;
}



.overflowing-row__heading{
    color: #057bc4;
    font-size: 17px;
    font-weight: 10px;
    margin-top: 70px;
    margin-left:70px;
}


.dynamic-page__one-col:first-child {
    margin-top: 0;
}

.overflowing-row {
    margin-bottom: 3rem;
    margin-top: 3rem;
    position: relative;
    z-index: 1;
}

.overflowing-row__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 1441px){
    .overflowing-row__items {
        margin-left: -43.2px;
        margin-right: -43.2px;
        padding-left: 43.2px;
        padding-right: 43.2px;
    }
}

.overflowing-row__items {
    position: relative;
    width: 100%;
}


@media screen and (min-width: 1441px){

    .overflowing-row__items__inner {
        margin-left: -43.2px;
        margin-right: -43.2px;
        padding-left: 43.2px;
        padding-right: 43.2px;
    }
}

.overflowing-row__items__inner {
    flex-basis: 100%;
    margin: -1rem -3vw;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 3vw;
    position: relative;
    width: auto;
    z-index: 1;
}

.tiles.tiles--single-row {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0;
    
}

@media screen and (min-width: 1441px){

    .tiles {
        margin-left: -14.4px;
        margin-right: -14.4px;
        
    }
}

.tiles {
    transition: opacity .3s;
}
.tiles--single-row .tiles__tile {
    margin-bottom: 0;
    margin-left: 20px;
    padding: 10px;
}

.tiles--grow .tiles__tile {
    flex-grow: 1;
    width: 240px;
    height: 390px;
    max-width: 100%;
}

@media screen and (min-width: 1441px){
    
    .tiles__tile {
        margin-bottom: 28.8px;
        padding-left: 14.4px;
        padding-right: 14.4px;
    }
}


.csp-square-card {
    position: relative;
}

.csp-square-card__inner {
    background: #fff;
    color: #414141;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    min-height: 14rem;
    position: relative;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    white-space: normal;
}

.csp-square-card__main {
    flex: 0 0 100%;
    max-width: 100%;
}

.csp-square-card__inner {
    
    color: #414141;
    white-space: normal;
}


element.style {
    padding-bottom: 100%;
}
.image-box {
    height: 209px !important;
    width:209px
}
.auction-listing-card__image a, .csp-selector-card__image-wrapper, .csp__suggestion__image__inner, .featured-listing-card__image__inner, .image-box, .lightbox-image-item, .sell-card__image {
    overflow: hidden;
    position: relative;
  
}


.auction-listing-card__image a img, .csp-selector-card__image-wrapper img, .csp__suggestion__image__inner img, .featured-listing-card__image__inner img, .image-box img, .lightbox-image-item img, .sell-card__image img {
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}

.csp-square-card__finish-indicator {
    background: #f2f2f2;
    font-size: 1.3rem;
    padding: 0.2rem 0.8rem;
    text-align: center;
}

.csp-square-card__finish-indicator {
    background: #f2f2f2;
    font-size: 1.3rem;
    padding: 0.2rem 0.8rem;
    text-align: center;
}

@media screen and (min-width: 961px){
    
    .tiles--large .csp-square-card__title {
        font-size: 1.6rem;
    }
}

.csp-square-card__title {
    border-top: 0.1rem solid #d5d5d5;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.8rem;
    overflow-wrap: break-word;
    padding: 0.8rem 0.8rem 0;
}

.size-90 {
    font-size: 90%;
}
.weight-normal {
    font-weight: 400;
}
.weight-bold {
    font-weight: 700;
}

.csp-square-card__details__price {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    padding-top: 0;
    position: relative;
}

.mb-half, .scaling-mb-half {
    margin-bottom: 0.5rem;
}

.star-rating {
    align-items: center;
    display: flex;
}

.star-rating__stars {
    color: #dd7608;
    display: inline-flex;
    justify-content: center;
    margin-right: 0.5rem;
}

.star-rating__stars .rc-icon {
    width: 1.6rem;
}

.rc-icon {
    align-items: center;
    display: flex;
    height: auto;
    
}

.rc-icon svg {
    fill: currentColor;
    display: block;
    height: auto;
    width: 100%;
}

.star-rating__count {
    color: #545454;
    display: inline-block;
    font-size: 1.3rem;
}

.csp-square-card__details__price b {
    color: #f6870f;
    font-size: 1.3em;
    margin-left: 0.1em;
    white-space: nowrap;
}

.overflowing-row--disable-left-control .overflowing-row__control.overflowing-row__control--left {
    cursor: default;
    opacity: 0;
}

.overflowing-row__control.overflowing-row__control--left {
    left: 0;
    transform: translateY(-50%);
}


.overflowing-row__control {
    background: #fff 40% no-repeat url("data:image/svg+xml;charset=utf8,%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 x=%270px%27 y=%270px%27 viewBox=%270 0 16 36%27 width=%2716px%27 height=%2736px%27 preserveAspectRatio=%27defer%27 shape-rendering=%27geometricPrecision%27%3E%3Cg fill=%27%23414141%27%3E%3Cpath d=%27M14,31.54A1.5,1.5,0,0,1,13,31.1l-12-12a1.5,1.5,0,0,1,0-2.12l12-12A1.5,1.5,0,0,1,15.08,7L4.1,18l11,11A1.5,1.5,0,0,1,14,31.54Z%27/%3E%3C/g%3E%3C/svg%3E");
    background-size: 30% auto;
    border: 0.1rem solid #d5d5d5;
    border-bottom-right-radius: 4rem;
    border-left: none;
    border-top-right-radius: 4rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    transition: opacity .3s,background .3s;
    width: 4rem;
    z-index: 2;
}

.overflowing-row__control.overflowing-row__control--right {
    right: 0;
    transform: translateY(-50%) scaleX(-1);
}

.overflowing-row__control:hover {
    background-color: hsla(0,0%,100%,.95);
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 x=%270px%27 y=%270px%27 viewBox=%270 0 16 36%27 width=%2716px%27 height=%2736px%27 preserveAspectRatio=%27defer%27 shape-rendering=%27geometricPrecision%27%3E%3Cg fill=%27%23057bc4%27%3E%3Cpath d=%27M14,31.54A1.5,1.5,0,0,1,13,31.1l-12-12a1.5,1.5,0,0,1,0-2.12l12-12A1.5,1.5,0,0,1,15.08,7L4.1,18l11,11A1.5,1.5,0,0,1,14,31.54Z%27/%3E%3C/g%3E%3C/svg%3E");
    opacity: 1;
}

.homepage-container__component-wrapper {
    margin-bottom: 7rem;
    margin-top: 7rem;
}

.category-item__image {
    background-position: 50%;
    background-size: cover;
    height: 150px;
    width: 13rem !important;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    width: 100%;
    object-fit:cover;
}

#category-item__image1{
    background-image: url(/assets/images/1-Electric-Guitars_so8uof.jpg);
    
}
#category-item__image2{
    background-image: url(/assets/images/2-Synths_fagrao.jpg);
}
#category-item__image3{
    background-image: url(/assets/images/3-Acoustic_zwfdsz.jpg);
}
#category-item__image4{
    background-image: url(/assets/images/4-Amps_ssbqna.jpg);
}
#category-item__image5{
    background-image: url(/assets/images/5-Effects_gmynv4.jpg);
}
#category-item__image6{
    background-image: url(/assets/images/6-Drums_pzx7ot.jpg);
}
#category-item__image7{
    background-image: url(/assets/images/7-Bass_pnpd7m.jpg);
}
#category-item__image8{
    background-image: url(/assets/images/8-Pro-Audio_dtwt0k.jpg);
}
#category-item__image9{
    background-image: url(/assets/images/9-DJ_blup7h.jpg);
}
#category-item__image10{
    background-image: url(/assets/images/10-Folk_t6pdn3.jpg);
}
#category-item__image11{
    background-image: url(/assets/images/11-B_O_uyl4vn.jpg);
}
#category-item__image12{
    background-image: url(/assets/images/12-Software_gw56il.jpg);
}
#category-item__image13{
    background-image: url(/assets/images/13-HomeAudio_rz2vs9.jpg);
}
#category-item__image14{
    background-image: url(/assets/images/14-Parts_e47wbg.jpg);
}
#category-item__image15{
    background-image: url(/assets/images/13-Accessories_v2xyxm.jpg);
}



.category-item__text {
    color: #414141;
    font-size: 100%;
    padding: 2rem;
}

.homepage__subheading{

}