*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   
}


html{
    font-size: 62.5%;
}

/* navvbar css */
li {
    text-decoration: none;
    display: inline-block;
    padding: 10px 6px;
    
}
a{
    text-decoration: none;
}

img{
    height: 40px;
    width: 60px;
    margin-top: 10px;
    padding-top: 22px;
}

header nav ul{
    float: right;
    margin-right: 25px;
}
header nav ul li{
    display:inline-block;
}
/* li{
    display: inline-blockS;
} */
header .instrumentia-header{
    display: inline-block;
}

header{
    margin-top: 20px;
    /* padding-bottom: 10px; */
    display: flex;
}

/* li{
    background-color: antiquewhite;
} */

/* nav .instrumentia-logo-container{
    
} */

nav .instrumentia-logo-container img{
    padding-top: 7px;
    padding-left: 38px;
    height: 85px;
    width: 100px;
    margin-bottom: -24px;
    filter: contrast(250%);
    margin-left: 100px;


}

nav .search-input .site-search__controls__input{
    
    margin-left: 0%;
}
nav .search-logo svg{
    height: 50px;
    width: 20px;
    padding-top: 40px;

}
nav .search-logo{
    margin-top: 0px;
    margin-left: 0px;
    justify-content: left;
    border:.1px solid #d5d5d5;
    /* border: 1px solid black; */
    
}


.selling-btn{
    border: 1px solid #dd7608;
    color:#dd7608;
    margin-left: 5px;
    height: 10px;
    width: 20px;
    padding: 4px 2px;
    padding-top: 6px;

}
.sell-btn-container{
    padding: 0%;
}
.selling-btn:hover{
    border: 2px solid #ca6b05;   
}

.sign-up-btn a
{
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
}
 .sign-in-btn a{
    margin-left: -10px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0px;
}
.sign-up-btn a:hover{
    
    color: #dd7608;
    transition: .5s ease;
    padding: 7px 5px;
    
}
.sign-in-btn a:hover{
    color: #dd7608;
    transition: .5s ease;
    padding: 7px 5px;
}

nav .instrumentia-nav-ul{
    margin-bottom: 0px;
    margin-top: -56px;
}

#search-li .search-logo{
    margin-left: -3px;
    height: 10px;
    width: 20px;
    padding: 4px 2px;
    padding-top: 6px;
    
}

.instrumentia-Logo img{
    height: fit-content;
    width: fit-content;
}

.instrumentia-header-links{
    margin-top: 0px;
    margin-left: 130px;
}




nav .instrumentia-logo-container img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

nav li .cart-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
}

nav li .my-feed-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
}
nav li .wish-list-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
    transform: rotate(45deg);
  
}
nav li .wish-list-container img:hover{
    transform: rotate(45deg);
    animation: animateHeart 1.2s infinite;
}


@keyframes animateHeart {
   
    0% {
      transform: rotate(45deg) scale(0.8);
    }
    5% {
      transform: rotate(45deg) scale(0.9);
    }
    10% {
      transform: rotate(45deg) scale(0.8);
    }
    15% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(0.8);
    }
    100% {
      transform: rotate(45deg) scale(0.8);
    }
  }



.search-input{

    margin-left: -3%;
    
    
}

nav .search-input .site-search__controls__input{
    height: 22px;
    width: 400px;
    border:.1px solid #d5d5d5;
    margin-left: 9px;
    justify-content: center;
}

#icon{
   display: list-item;
    margin: 0%;
    margin-top: 2px;
}
#icon:hover{
    color: #dd7608;
}

#icon a{
    margin-top: 10px;

}

.instrumentia-header-links li a:hover{
    color:#dd7608;
}

.instrumentia-header-links li a{
    font-size: 10px;
}

header nav .menu-span{
    font-size: 20px;
    font-weight: bold;
    float: right;
    background-color: #e4e0db;
    display: none;
    
}
header nav .menu-span:hover{
    /* visibility: visible; */
    display: block;
    background-color: #ca6b05;
}

@media screen and (max-width: 960px) {
    header nav .instrumentia-logo-container img {
        left: 8%;
    }
    
  }


/* end navbar css */

.body-wrapper .sell_header_content {
    color: #414141;
    text-align: left;
    width: 50%;
}
 .body-wrapper  .sell__header__subtitle{
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 1rem;
 }

 .body-wrapper .sell__header__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0rem;
    line-height: 1.2;
    
  
}

.button.button--orange {
    fill: #fff;
    background:#f6af60;
    border-color: #f6af60;
    color: #fff;
}




.sell__form {
    margin: 1rem 0;
    position: relative;
    display: flex;
}




.sell__form__input__search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-radius: 0.4rem 0 0 0.4rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    position: relative;
    /* width: 300%; */
    height: 9vh;
}

.input-group__input, .sell__form__input, .input-group{
    
    width: 350px;
    height: 9vh;
    display: flex;
    
    
}
/* input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;   
}    */





.size-120 {
    margin-left: 0%;
    font-size: 136%;
    
    
}


.input-group__button, .input-group__input{
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem; 
    /* margin: 0 -0.1rem 0 0; */
    border: white;
    
  
}



main{
    margin-top: -2%;
}

/* .sell__header .bg-img-container img{
    height: 70vh;
    width: 1087px;
    margin-top: -2%;
    margin-left: 0%;
    
} */

.sell__header {
    margin-top: 20px;
    background-image: url(/assets/images/Mobile1cropped1.jpeg);
    background-size: cover;
    height: 50vh;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.sell_header_container{
    margin-left: 145px;
    margin-top: 25px;
    
}


.size-100 a{
    color: black;
}

.size-100 a:hover{
    color: #ca6b05;
}

.size-180{
    font-size: 180%;
    color: #f6af61;
}

.pb-4, .scaling-pb-4 {
    padding-bottom: 4rem;
}

.align-center {
    text-align: center;
}

.color-gray img{
    margin-top: -5px;  
    margin-left: 48PX;
}

.arrow-img img{
    width: 15px;
    height: 33px;
    margin-top: -19px !important;
    margin-left: 59px;
    
    display: inline;
}

.color-gray span{
    position: absolute;
    margin-top: 11px;
    
}

.arrow-img{
    background-color: #ffebd4;
    border: 1px solid #ffebd4;
    border-radius: 3px;
    
    
}

.gfi-span{
    color: #414141;
    margin-top: 14px !important;
    margin-left: 8px;
    z-index: 1;
}

.gfi-span:hover{
    color: #f6870f;
}

.size-101, #size-p, #size-h1{
    color: white;
}

.sell__form__input .search-iconn{
    margin-top: -15px;
    height: 39px;
    width: 31px;
}
.sell__form__container #btn-srch{
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(160, 158, 158);
    border-radius: 2px;
}

.sell__form__container #btn-srch:hover{
    background: #e4e2e0;
}

.mosaic-tile__subtitle {
    font-size: .9em;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    margin-top: 2.25rem;
    
}

.mosaic-tiles {
    
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.mosaic-tiles__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 100%;
}
li, ol, ul {
    list-style: none;
}

.mosaic-tile+.mosaic-tile {
    margin-left: 1.8rem;
}
.mosaic-tile {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mosaic-tile__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: none;
    color: #414141;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    
    transition: opacity .2s ease-in-out;
}

.mosaic-tile__image1{
    background-image: url(/assets/images/horizontal-tile-d73b383d2c70966c3e5bd780c1db2c0f274a70d22a27e8e3a45c029c870bdeb9.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.mosaic-tile__image2{
    background-image: url(/assets/images/snmnrbco9nx75mtsfgek.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.mosaic-tile__image3{
    background-image: url(/assets/images/vwti9vmchjnconyehks3.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.mosaic-tile__image1 {
    margin-left: 15px;
}

.mosaic-tile__image1 , .mosaic-tile__image2 , .mosaic-tile__image3{
    width: 333px;
    height:200px;
}

.homepage-value-props{
background-image: url(/assets/images/section-texture-5f954532d5847542326f.jpg);
height: 170px
}

.homepage-value-props__inner{
    display: flex;
    align-items: center;
    
}

.homepage-value-props__inner h3{
    align-content: center;
    /* margin-left: 10px; */
}