*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

li{
    list-style-type: none,
}
html{
    font-size: 62.5%;
}

li {
    text-decoration: none;
    display: inline;
    padding: 10px 6px;
    
}
a{
    text-decoration: none;
}

img{
    height: 40px;
    width: 60px;
    margin-top: 10px;
    padding-top: 22px;
}

header nav ul li{
    display:inline-block;
}
/* li{
    display: inline-blockS;
} */
header .instrumentia-header{
    display: inline;
}

header{
    margin-top: 20px;
    /* padding-bottom: 10px; */
    display: flex;
}

li{
    /* background-color: antiquewhite; */
}

/* nav .instrumentia-logo-container{
    
} */

nav .instrumentia-logo-container img{
    padding-top: 7px;
    padding-left: 38px;
    height: 85px;
    width: 100px;
    margin-bottom: -24px;
    filter: contrast(250%);
    margin-left: 100px;


}

nav .search-input .site-search__controls__input{
    
    margin-left: 0%;
}
nav .search-logo svg{
    height: 50px;
    width: 20px;
    padding-top: 40px;

}
nav .search-logo{
    margin-top: 0px;
    margin-left: 0px;
    justify-content: left;
    border:.1px solid #d5d5d5;
    /* border: 1px solid black; */
    
}


.selling-btn{
    border: 1px solid #dd7608;
    color:#dd7608;
    margin-left: 5px;
    height: 10px;
    width: 20px;
    padding: 4px 2px;
    padding-top: 6px;

}
.sell-btn-container{
    padding: 0%;
}
.selling-btn:hover{
    border: 2px solid #ca6b05;   
}

.sign-up-btn a
{
    margin-left: 5px;
    font-size: 12px;
    margin-top: 0px;
}
 .sign-in-btn a{
    margin-left: -10px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0px;
}
.sign-up-btn a:hover{
    
    color: #dd7608;
    transition: .5s ease;
    padding: 7px 5px;
    
}
.sign-in-btn a:hover{
    color: #dd7608;
    transition: .5s ease;
    padding: 7px 5px;
}

nav .instrumentia-nav-ul{
    margin-bottom: 0px;
    margin-top: -56px;
}

#search-li .search-logo{
    margin-left: -3px;
    height: 10px;
    width: 20px;
    padding: 4px 2px;
    padding-top: 6px;
    
}

.instrumentia-Logo img{
    height: fit-content;
    width: fit-content;
}

.instrumentia-header-links{
    margin-top: 0px;
    margin-left: 130px;
}




nav .instrumentia-logo-container img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

nav li .cart-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
}

nav li .my-feed-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
}
nav li .wish-list-container img{
    height: 43px;
    width: 23px;
    margin-top: 10px;
    padding-top: 22px;
    transform: rotate(45deg);
  
}
nav li .wish-list-container img:hover{
    transform: rotate(45deg);
    animation: animateHeart 1.2s infinite;
}


@keyframes animateHeart {
   
    0% {
      transform: rotate(45deg) scale(0.8);
    }
    5% {
      transform: rotate(45deg) scale(0.9);
    }
    10% {
      transform: rotate(45deg) scale(0.8);
    }
    15% {
      transform: rotate(45deg) scale(1);
    }
    50% {
      transform: rotate(45deg) scale(0.8);
    }
    100% {
      transform: rotate(45deg) scale(0.8);
    }
  }



.search-input{

    margin-left: -3%;
    
    
}

nav .search-input .site-search__controls__input{
    height: 22px;
    width: 400px;
    border:.1px solid #d5d5d5;
    margin-left: 9px;
    justify-content: center;
}

#icon{
   display: list-item;
    margin: 0%;
    margin-top: 2px;
}
#icon:hover{
    color: #dd7608;
}

#icon a{
    margin-top: 10px;

}

.instrumentia-header-links li a:hover{
    color:#dd7608;
}

.instrumentia-header-links li a{
    font-size: 10px;
}