<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical instruments</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- nav bar -->
    <header class="instrumentia-header">
        <div class="instrumentia-header-main">
            <nav class="instrumentia-nav">

                <div class="instrumentia-logo-container">
                    <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                            src="/assets/images/Intrumentia Logo.png" alt=""></a>
                </div>

                <div class="instrumentia-searchbar">
                    <div class="search-input">
                        <input type="text" class="site-search__controls__input" autocorrect="on" autocapitalize="off"
                            placeholder="Search here..your &amp; new music gear..." value="">
                    </div>
                    <div class="search-logo">
                        <a href=""></a><img src="https://img.icons8.com/ios/100/000000/search--v3.png" />
                    </div>
                </div>

                <div class="right-side-bar">
                    <ul class="sidebar-list">
                        <li>
                            <div class="sell-btn-container">
                                <a class="selling-btn" href="#" type="button">Sell Your Gear</a>
                            </div>
                        </li>
                        <li>
                            <div class="wish-list-container">
                                <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                        src="/assets/images/Intrumentia Logo.png" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="my-feed-container">
                                <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                        src="/assets/images/Intrumentia Logo.png" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="cart-container">
                                <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                        src="/assets/images/Intrumentia Logo.png" alt=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="sign-up-btn">
                                <a href=""></a>
                            </div>
                        </li>
                        <li>
                            <div class="sign-in-btn">
                                <a href=""></a>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
        <div class="instrumentia-header-links">
            <ul class="instrumentia-list">
                <li>

                    <a href="">Guitars</a>

                </li>

                <li>

                    <a href="">Pedals and Amplifires</a>

                </li>

                <li>

                    <a href="">Keyboards and Synths</a>

                </li>

                <li>

                    <a href="">Recording Gear</a>

                </li>

                <li>

                    <a href="">Drums</a>

                </li>

                <li>

                    <a href="">DJ and Audio Gear</a>

                </li>

                <li>

                    <a href="">More Categories</a>

                </li>

                <li>
                    <a href="">Brands</a>

                </li>

                <li>
                    <a href="">News</a>

                </li>

                <li>
                    <a href="">Explore</a>

                </li>

                <li>
                    <a href="">Shops</a>
                </li>

                <li>
                    <a href="">Reverb Gives</a>

                </li>

                <li>
                    <a href="">Help</a>
                </li>

                <li>
                    <a href="">Center</a>
                </li>

            </ul>
        </div>
    </header>

    <!-- end nav bar -->
</body>

</html>