<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musical instruments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- nav bar -->
    <header class="instrumentia-header">

        <nav class="instrumentia-nav">

            <a href="#" class="menu-span">Menu</a>
            <ul class="instrumentia-nav-ul">
                <li>
                    <div class="instrumentia-logo-container">
                        <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                src="/assets/images/wonderland.png" alt=""><a>
                    </div>
                </li>

                <li id="search-li">
                    <div class="search-input">
                        <input type="text" class="site-search__controls__input" autocorrect="on" autocapitalize="off"
                            placeholder="Search here..your &amp; new music gear..." value="">
                        <a href="#" class="search-logo">

                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                                viewBox="0 0 172 172" style=" fill:#000000;">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                    stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                    stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                    text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#000000">
                                        <path
                                            d="M72.24,10.32c-32.33062,0 -58.48,26.14938 -58.48,58.48c0,32.33063 26.14938,58.48 58.48,58.48c11.54281,0 22.22563,-3.38625 31.2825,-9.1375l42.2475,42.2475l14.62,-14.62l-41.71,-41.6025c7.49813,-9.83625 12.04,-22.02406 12.04,-35.3675c0,-32.33062 -26.14937,-58.48 -58.48,-58.48zM72.24,24.08c24.76531,0 44.72,19.95469 44.72,44.72c0,24.76531 -19.95469,44.72 -44.72,44.72c-24.76531,0 -44.72,-19.95469 -44.72,-44.72c0,-24.76531 19.95469,-44.72 44.72,-44.72z">
                                        </path>
                                    </g>
                                </g>
                            </svg>


                        </a>
                    </div>



                </li>

                <li>
                    <div class="sell-btn-container">
                        <a class="selling-btn" href="#" type="button">Sell Your Gear</a>
                    </div>
                </li>

                <li style="list-style-type: none; margin-bottom: -20px;">
                    <div class="wish-list-container">

                        <span id="icon">
                            <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                    src="https://img.icons8.com/cute-clipart/64/000000/like.png" /></a>
                        </span>
                        <span id="icon">Wish-list</span>


                    </div>
                </li>

                <li style="list-style-type: none;">
                    <div class="my-feed-container">
                        <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href=""><img
                                src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-feed-devices-flatart-icons-outline-flatarticons.png" />
                            <span id="icon">

                            </span>
                            <span id="icon" style="margin-left: 3px;"> Feed</span>
                        </a>
                    </div>

                </li>

                <li style="list-style-type: none;">
                    <div class="cart-container">
                        <a aria-label=" instrumentia-Logo" class="instrumentia-header-logo" href="">
                            <span id="icon">
                                <img
                                    src="https://img.icons8.com/external-flatart-icons-lineal-color-flatarticons/64/000000/external-cart-supermarket-flatart-icons-lineal-color-flatarticons.png" />
                            </span>
                            <span id="icon" style="margin-left: 6px;">Cart</span></a>
                    </div>
                </li>

                <li style="list-style-type: none;">
                    <div class="sign-up-btn">
                        <a href="">sign-up</a>
                    </div>
                </li>

                <li style="list-style-type: none;">
                    <div class="sign-in-btn">
                        <a href="">sign-in</a>
                    </div>

                </li>
            </ul>

        </nav>
    </header>
    <hr>
    <div class="instrumentia-header-links">
        <ul class="instrumentia-list">
            <li>

                <a href="">Guitars</a>

            </li>

            <li>

                <a href="">Pedals and Amplifires</a>

            </li>

            <li>

                <a href="">Keyboards and Synths</a>

            </li>

            <li>

                <a href="">Recording Gear</a>

            </li>

            <li>

                <a href="">Drums</a>

            </li>

            <li>

                <a href="">DJ and Audio Gear</a>

            </li>

            <li>

                <a href="">More Categories</a>

            </li>
            <li style="font-size: 15px; text-align: center;">
                |
            </li>
            <li>
                <a href="">Brands</a>

            </li>

            <li>
                <a href="">News</a>

            </li>

            <li>
                <a href="">Explore</a>

            </li>

            <li>
                <a href="">Shops</a>
            </li>

            <li>
                <a href="">Reverb Gives</a>

            </li>

            <li>
                <a href="">Help</a>
            </li>

            <li>
                <a href="">Center</a>
            </li>

        </ul>
    </div>
    <hr>
    <!-- end nav bar -->

    <!-- main section -->

    <main class="body-wrapper">
        <section class="section-container">
            <header class="sell__header">

                <div class="sell_header_container">
                    <div class="sell_header_content">
                        <p class="sell__header__subtitle">Millions of musicians are waiting to buy your gear</p>
                        <h1 class="sell__header__title">What Would You Like to Sell?

                        </h1>
                        <div class="sell__form__container">
                            <form action="/sell/search" class="sell__form">
                                <div class="sell__form__input">
                                    <div class="input-group">
                                        <div class="sell__form__input__search">
                                            <input autocapitalize="off" autocomplete="off" autocorrect="off" name="sell"
                                                placeholder="e.g. Sunburst Fender Player Telecaster" spellcheck="false"
                                                type="search" aria-label="What Would You Like to Sell?"
                                                class="input-group__input" value="">
                                        </div>
                                        <button
                                            class="button button--orange size-120 tablet-size-100 input-group__button"
                                            type="submit" disabled="">Search</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <p class="size-100"><span>Can't find it? <a href="#"
                                            class="color-gray weight-bold icon-r-angle-right">Start a listing from
                                            scratch &gt;</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div>

                <div class="bg-white ptb-half">
                    <div class="site-wrapper">
                        <section class="scaling-ptb-7">
                            <h2 class="size-180 align-center scaling-pb-4">Why should you sell on Reverb?</h2>
                            <div class="g-container g-container--cycle tablet-width-80 mobile-width-100 mlr-auto">
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12 align-center">
                                    <img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1587404860/20200420-Seller-Hub-Icons-v2-pedal_rqlev7.jpg"
                                        alt="Built for Selling Gear Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Built for Selling Gear
                                    </h3>
                                    <p class="size-110 lh-130">Created by musicians, Reverb’s seller tools are designed
                                        specifically to make selling instruments seamless.</p>
                                </div>
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12 align-center">
                                    <img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1587404856/20200420-Seller-Hub-Icons-v2-5-star_aeccfg.jpg"
                                        alt="5-Star Buyer Community Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">5-Star Buyer Community
                                    </h3>
                                    <p class="size-110 lh-130">Millions of high-quality prospective buyers from all over
                                        the world search for gear on Reverb.</p>
                                </div>
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12 align-center">
                                    <img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1587404860/20200420-Seller-Hub-Icons-v2-secure_deuaaf.jpg"
                                        alt="Secure Transactions &amp; Safe Shipping Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Secure Transactions &amp;
                                        Safe Shipping</h3>
                                    <p class="size-110 lh-130">You can feel confident selling on a trusted platform with
                                        hassle-free shipping options.</p>
                                </div>

                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12 align-center">
                                    <img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1588795628/20200420-Seller-Hub-Icons--livemusiciansupport_zing1i.jpg"
                                        alt="Live Musician Support Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Live Musician Support
                                    </h3>
                                    <p class="size-110 lh-130">Our team of gear experts is ready and available to help
                                        you make a sale.</p>
                                </div>
                            </div>
                        </section>

                        <section class="scaling-ptb-7">
                            <div class="scaling-pb-5 align-center">
                                <h2 class="size-180 align-center scaling-pb-4">Reverb's Pricing is Simple and
                                    Straightforward</h2>
                                <p class="size-110 lh-130 width-60 tablet-width-80 mobile-width-auto mlr-auto mb-0">
                                    Listing your gear for sale is free and easy. When your instrument sells, we deduct
                                    selling and transaction fees from the final selling price, and you keep the rest.
                                </p>
                            </div>
                            <div class="d-flex fx-align-center fx-justify-center mobile-fx-dir-col">
                                <img data-pricing-chart="true" class="width-100 mobile-mb-2"
                                    src="https://reverb-res.cloudinary.com/image/upload/v1596223817/FeesV2_dwwn3y.svg"
                                    alt="Unlimited Free Listings &amp; Transparent Pricing Image"
                                    style="max-width: 30rem;">
                                <div class="ml-4 mobile-ml-0 mobile-align-center">
                                    <h4 class="tt-uppercase size-100 weight-bold opacity-80 scaling-mb-2">Unlimited Free
                                        Listings &amp; Transparent Pricing</h4>
                                    <div class="mtb-half">5% Selling Fee</div>
                                    <div class="mtb-half">
                                        <span style="margin-left: -1.3rem;">+</span>
                                        <span class="weight-bold mlr-space">2.7% + $0.25</span>Payment Processing Fee
                                    </div>

                                    <div class="mtb-half">



                                        <span style="margin-left: -1.3rem;">=</span>
                                        <span class="weight-bold color-orange mlr-space">7.7% + $0.25</span>Total Fees
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="scaling-ptb-7">
                            <h2 class="size-180 align-center scaling-pb-4">How does Reverb protect sellers?</h2>
                            <p
                                class="size-110 lh-130 width-60 tablet-width-80 mobile-width-auto mlr-auto mb-0 align-center">
                                Whether you’re listing your first instrument for sale or or you’ve already sold your
                                hundredth rig, Reverb has you covered every step of the way.</p>
                            <div class="g-container g-container--cycle">
                                <div class="g-col-4 g-col-mobile-12"><img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1591566263/20200420-Seller-Hub-Icons-v3-beforeyousell_yng8mb.jpg"
                                        alt="When You List Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3 align-center">When You
                                        List</h3>
                                    <p class="size-110 lh-130"><span>Reverb’s <a
                                                href="/selling/how-to-sell-on-reverb">selling guide</a> includes pro
                                            tips to help you get the most money for your gear.</span></p>
                                    <p class="size-110 lh-130">Our pricing history data helps you make informed
                                        decisions about your asking price when you list your gear for sale.</p>
                                </div>
                                <div class="g-col-4 g-col-mobile-12"><img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1591627277/20200420-Seller-Hub-Icons-v3-negotioations_ijkz5e.jpg"
                                        alt="When You Sell Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3 align-center">When You
                                        Sell</h3>
                                    <p class="size-110 lh-130">You can feel confident selling to Reverb’s high-quality
                                        community of music makers. Our buyers have a 4.99/5 star average rating.</p>
                                    <p class="size-110 lh-130"><span>Through <a
                                                href="/selling/reverb-payment-faq">Reverb Payments</a>**, we securely
                                            process payments for you so that you also can have peace of mind
                                            since.</span></p>
                                </div>
                                <div class="g-col-4 g-col-mobile-12"><img class="width-100"
                                        src="https://reverb-res.cloudinary.com/image/upload/v1591736535/20200420-Seller-Hub-Icons-v3_jqhqis.jpg"
                                        alt="When You Ship Image">
                                    <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3 align-center">When You
                                        Ship</h3>
                                    <p class="size-110 lh-130">Our global support team of gear experts is ready to jump
                                        in and assist with your sale if you have a question or issue.</p>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>









                <div class="bg-white bg--darken" style="display: none;">
                    <div class="site-wrapper">
                        <section class="scaling-ptb-7">
                            <h2 class="size-180 align-center scaling-pb-4">Learn More About Selling on Reverb</h2>
                            <div class="g-container g-container--cycle tablet-width-80 mobile-width-100 mlr-auto">
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12"><a class="color-gray"
                                        href="https://reverb.com/selling"><img class="width-100 img-hoverable"
                                            src="https://reverb-res.cloudinary.com/image/upload/v1591810241/20200520-Footer-Images-Seller-Hub_on6jck.jpg"
                                            alt="Seller Hub Illustration">
                                        <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Seller Hub</h3>
                                    </a>
                                    <p class="size-110 lh-130">Your starting point to learn about selling on Reverb,
                                        including information on seller tools, shipping guides, and how-tos.</p>
                                </div>
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12"><a class="color-gray"
                                        href="https://reverb.com/selling/how-to-sell-on-reverb"><img
                                            class="width-100 img-hoverable"
                                            src="https://reverb-res.cloudinary.com/image/upload/v1591810241/20200520-Footer-Images-Howtosell_zb6ob2.jpg"
                                            alt="How to Sell on Reverb Illustration">
                                        <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">How to Sell on Reverb
                                        </h3>
                                    </a>
                                    <p class="size-110 lh-130">This step-by-step guide walks you through listing an
                                        instrument for sale, pricing it, and photographing it so that you get more money
                                        for your gear.</p>
                                </div>
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12"><a class="color-gray"
                                        href="https://reverb.com/selling/selling-fees"><img
                                            class="width-100 img-hoverable"
                                            src="https://reverb-res.cloudinary.com/image/upload/v1591810847/20200520-Footer-Images-Money_j3h6h8.jpg"
                                            alt="Transparent Pricing Illustration">
                                        <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Transparent Pricing
                                        </h3>
                                    </a>
                                    <p class="size-110 lh-130">Listing an instrument for sale is free, and with our
                                        clear and simple pricing, you’ll always know how much of the final sale price
                                        you’ll keep and when you’ll get paid.</p>
                                </div>
                                <div class="g-col-3 g-col-tablet-6 g-col-mobile-12"><a class="color-gray"
                                        href="https://help.reverb.com/hc/categories/201562358"><img
                                            class="width-100 img-hoverable"
                                            src="https://reverb-res.cloudinary.com/image/upload/v1591810241/20200520-Footer-Images-Help-Center_jzylml.jpg"
                                            alt="Seller Help Center Illustration">
                                        <h3 class="size-120 weight-bold scaling-mt-2 scaling-mb-3">Seller Help Center
                                        </h3>
                                    </a>
                                    <p class="size-110 lh-130">Check out our comprehensive Seller Help Center for
                                        additional resources on how to sell your gear quickly and at a fair price.</p>
                                </div>
                            </div>
                        </section>
                        <section class="scaling-ptb-3 bdt-1 bd-primary">
                            <p class="size-80 lh-130 mtb-half d-flex"><span
                                    class="mr-space weight-bold">**</span><span>In eligible countries</span></p>
                        </section>
                    </div>
                </div>

            </div>

        </section>

    </main>
    <!-- end main section -->


    <!-- start footer section -->
    <hr>
    <footer>

    </footer>

    <!-- end footer section -->
    <script>




    </script>
</body>

</html>